.footer-img{
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.my_dataviz{
  min-height: 130vh;
}

.footer{
 align-items: center;
 align-content: center;
}

.active{
  text-decoration: underline;
  color: aquamarine;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 130vh;
  font-family: 'Inter', sans-serif;
color: black;
 
}

.overlay{
  padding: 0px;
  margin: 0%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: white;
    z-index: -1;
    
}

#main-menu {
  display: block;
  height: 100px;
  width: 100%;
  
  margin: 0px;  
  z-index: 9;
  
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(
      to bottom, 
      black, black 20%, 
      white 20%, white 40%, 
      black 40%, black 60%, 
      white 60%, white 80%, 
      black 80%, black 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: white;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: black;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

.center-paw{
  display: block;
margin: auto;

}

.main {
  height: 1000px;
  background-image: url(../Images/GermanShepardPuppies.-whitejpg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
  
}

.main p {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.7rem;
  width: 80%;
}

body {
  font-family: Arial;
  padding: 0px;
  margin: 0%;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  padding-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Fake image */
.fakeimg {
  background-color: black;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 3%;

}

.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.blog-posts li a{
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.blog-posts li {
  list-style: none;
}

.design-sec-desk{
  width: 80%;
  align-items: center;
}

.design-sec {
  width: 30%;
}

.change {
  color: #7C6150;
}
